<div class="container my-5">
  <h1>Add a pet</h1>

  <%= simple_form_for @pet do |f| %>
    <%= f.input :date_found %>
    <%= f.input :location %>
    <%= f.submit "Add Pet", class: "btn btn-primary" %>

  <% end %>



</div>
